@charset "UTF-8";
aside {
    width: 300px;
    height: 100%;
    background-color: white;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px black;
    overflow-y: scroll;
    display: none;
    z-index: 100;
}
aside > .aside-logo {
    width: 92.5%;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
aside > .aside-logo > span {
    padding: 0 10px;
    background-color: transparent;
    font-size: 48px;
    cursor: pointer;
}
aside > .aside-logo > a > h2 {
    font-size: xx-large;
}
aside > .nav {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: block;
}
aside > .ul {
    width: 100%;
    height: auto;
    background-color: transparent;
}
aside > .ul > a {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: block;
    padding: 10px 20px;
}
aside > .ul > a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}