@charset "UTF-8";
header {
    width: 100%;
    height: auto;
    padding: 15px 25px;
    background-color: white;
    border-bottom: 1.5px solid black;
}
header > .h-center {
    width: 1175px;
    height: auto;
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header > .h-center > .logo {
    width: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > .h-center > .logo > span {
    font-size: x-large;
    cursor: pointer;
}
header > .h-center > .logo > a {
    background-color: transparent;
}
header > .h-center > .logo > a > img {
    width: 200px;
    height: 50px;
    background-color: transparent;
}
header > .h-center > .bento-menu-icon {
    width: 26px;
    height: 26px;
    display: block;
    cursor: pointer;
}
header > .h-center > .bento-menu-icon > .iii {
    width: 24px;
    height: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}
header > .h-center > .bento-menu-icon > .iii > .ii {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 100%;
}
header > .h-center > .menu {
    position: absolute;
    top: 55px;
    right: 0;
    width: auto;
    height: 400px;
    background-color: white;
    padding: 10px;
    border-right: 7.5px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 0px;
    z-index: 99;
}
header > .h-center > .menu > a {
    width: auto;
    padding: 5px;
    margin: 5px;
    text-align: center;
    display: block;
    border-radius: 10px;
}
header > .h-center > .menu > a:hover {
    background-color: aliceblue;
}
header > .h-center > .menu > a > img {
    width: 50px;
    height: 50px;
    background-color: transparent;
}
@media (min-width: 1001px) {
    header > .h-center > .logo > span {
        display: none;
    }
}
@media (max-width: 1000px) {
    header > .h-center {
        width: 100%;
    }
    header > .h-center > .bento-menu-icon {
        display: none;
    }
}