@charset "UTF-8";
nav {
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 10px 30px;
    box-shadow: 0px 10px 10px -10px black;
}
nav > .nav-center {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 1000px) {
    nav {
        display: none;
    }
    header {
        box-shadow: 0px 10px 10px -10px black;  
    }
}